/.idea
/venv
/temp
env-vars.local.json
.aws-sam
.env.local
samconfig.toml
response.json
codebuild_build.sh
*.email

__pycache__
*.json
junk
pack
dist
.aws
.cloudflare.cfg
*.egg-info
.vscode
spfenv
result.html
__pycache__/
config
cfspflat
